@model IEnumerable<Tender.Models.Models.RFQ_TENDER>

@{
    ViewBag.Title = "Bid List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>New Bid List</h2>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h2 class="card-title">Tender Code #20210102574852</h2>
            </div>
            <div class="card-body">
                <p>VSN GD Chest Freezer RE-150L Maple Leaf Red Wave</p>
                <p>Rate : 500 $</p>
                <p>Tender Type : Saler/Buyer</p>
                <br />
                <span class="text-danger">0d  : 7h  : 34m  : 24s</span>
                <br />
                <span class="text-success">Submitted Bids : 30 Bids</span>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-danger btn-sm btn-block" href="@Url.Action("Bid","Quotation")">Submit Bid</a>
            </div>
        </div>
    </div>
</div>

