<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | RFQ</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/App_Asset/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/App_Asset/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/App_Asset/dist/css/adminlte.min.css?v=3.2.0">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        @RenderBody()
    </div>

    <script src="~/App_Asset/plugins/jquery/jquery.min.js"></script>
    <script src="~/App_Asset/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/App_Asset/dist/js/adminlte.min.js?v=3.2.0"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
